/* =Color Palette
==============================*/
$primary: #90A4AE;
$primary-light: #1e88e5;
$primary-dark: #102027;

$secondary: #EC407A;
$secondary-light: #FF77A9;
$secondary-dark: #B4004E;

$white: #FFFFFF;
$black: #000000;

$dark-grey: #102027;
$medium-grey: #37474F;
$light-grey: #62727B;

$dark-cyan: #008BA3;
$medium-cyan: #00BCD4;
$light-cyan: #62EFFF;

$dark-pink: #B4004E;
$medium-pink: #EC407A;
$light-pink: #FF77A9;

$dark-body: rgba(255,255,255,.45);
$medium-body: rgba(255,255,255,.65);
$light-body: rgba(255,255,255,.85);

$rembase: 14px;

/* =Color Classes
==============================*/
.dark-grey { background-color: $dark-grey !important; }
.dark-grey-text { color: $dark-grey !important; }
.medium-grey { background-color: $medium-grey !important; }
.medium-grey-text { color: $medium-grey !important; }
.light-grey { background-color: $light-grey !important; }
.light-grey-text { color: $light-grey !important; }
.dark-cyan { background-color: $dark-cyan !important; }
.dark-cyan-text { color: $dark-cyan !important; }
.medium-cyan { background-color: $medium-cyan !important; }
.medium-cyan-text { color: $medium-cyan !important; }
.light-cyan { background-color: $light-cyan !important; }
.light-cyan-text { color: $light-cyan !important; }
.dark-pink { background-color: $dark-pink !important; }
.dark-pink-text { color: $dark-pink !important; }
.medium-pink { background-color: $medium-pink !important; }
.medium-pink-text { color: $medium-pink !important; }
.light-pink { background-color: $light-pink !important; }
.light-pink-text { color: $light-pink !important; }
.dark-body { background-color: $dark-body !important; }
.dark-body-text { color: $dark-body !important; }
.medium-body { background-color: $medium-body !important; }
.medium-body-text { color: $medium-body !important; }
.light-body { background-color: $light-body !important; }
.light-body-text { color: $light-body !important; }


/* != Font Size $rembase = 14px
--------------------------------------------------------------
* hmtl { font-size: 87.5%; }
* body { font-size: 14px; font-size: 1rem; line-height: 1; }
* 4px    	0.28571429rem
* 8px		0.571428571rem
* 10px		0.71428571rem
* 12px		0.857142857rem
* 13px		0.928571429rem
* 14px		1rem
* 16px		1.142857143rem
* 18px		1.285714286rem
* 20px		1.428571429rem
* 21px		1.5rem
* 22px		1.571428571rem
* 24px		1.714285714rem
* 28px		2rem
* 36px		2.571428571rem
* 42px		3rem
* 48px		3.428571429rem
* 64px		4.57142857rem
* 72px		5.142857143rem
*/
.fs-200 {font-size: 2rem !important; }
.fs-109 {font-size: 1.9rem !important; }
.fs-108 {font-size: 1.8rem !important; }
.fs-107 {font-size: 1.7rem !important; }
.fs-106 {font-size: 1.6rem !important; }
.fs-105 {font-size: 1.5rem !important; }
.fs-104 {font-size: 1.4rem !important; }
.fs-103 {font-size: 1.3rem !important; }
.fs-102 {font-size: 1.2rem !important; }
.fs-101 {font-size: 1.1rem !important; }

.fs-95 { font-size: .95rem !important; }
.fs-90 { font-size: .9rem !important; }
.fs-85 { font-size: .85rem !important; }
.fs-80 { font-size: .8rem !important; }

.process-content {
	font-size: 1.142857143rem !important;
}


/*=Margins and Padding
====================*/
.mt-0 {
	margin-top: 0px !important;
}
.mt-05 {
    margin-top: .5rem !important;
}
.mt-1 {
	margin-top: 1rem !important;
}
.mt-2 {
	margin-top: 2rem !important;
}
.mt-3 {
	margin-top: 3rem !important;
}
.mt-4 {
	margin-top: 4rem !important;
}
.mt-5 {
	margin-top: 5rem !important;
}
.mb-0 {
	margin-bottom: 0px !important;
}
.mb-05 {
    margin-bottom: .5rem !important;
}
.mb-1 {
	margin-bottom: 1rem !important;
}
.mb-2 {
	margin-bottom: 2rem !important;
}
.mb-3 {
	margin-bottom: 3rem !important;
}
.mb-4 {
	margin-bottom: 4rem !important;
}
.mb-5 {
	margin-bottom: 5rem !important;
}
.my-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.my-05 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
.my-1 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.my-2 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
.my-3 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}
.my-4 {
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}
.my-5 {
	margin-top: 5rem !important;
	margin-bottom: 5rem !important;
}
.ml-0 {
	margin-left: 0px !important;
}
.ml-05 {
    margin-left: .5rem !important;
}
.ml-1 {
	margin-left: 1rem !important;
}
.ml-2 {
	margin-left: 2rem !important;
}
.ml-3 {
	margin-left: 3rem !important;
}
.ml-4 {
	margin-left: 4rem !important;
}
.ml-5 {
	margin-left: 5rem !important;
}
.mr-0 {
	margin-right: 0px !important;
}
.mr-05 {
    margin-right: .5rem !important;
}
.mr-1 {
	margin-right: 1rem !important;
}
.mr-2 {
	margin-right: 2rem !important;
}
.mr-3 {
	margin-right: 3rem !important;
}
.mr-4 {
	margin-right: 4rem !important;
}
.mr-5 {
	margin-right: 5rem !important;
}
.mx-0 {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.mx-05 {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}
.mx-1 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.mx-2 {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.mx-3 {
	margin-left: 3rem !important;
	margin-right: 3rem !important;
}
.mx-4 {
	margin-left: 4rem !important;
	margin-right: 4rem !important;
}
.mx-5 {
	margin-left: 5rem !important;
	margin-right: 5rem !important;
}
.pt-0 {
	padding-top: 0px !important;
}
.pt-05 {
    paddgin-top: .5rem !important;
}
.pt-1 {
	padding-top: 1rem !important;
}
.pt-2 {
	padding-top: 2rem !important;
}
.pt-3 {
	padding-top: 3rem !important;
}
.pt-4 {
	padding-top: 4rem !important;
}
.pt-5 {
	padding-top: 5rem !important;
}
.pb-0 {
	padding-bottom: 0px !important;
}
.pb-05 {
    padding-bottom: .5rem !important;
}
.pb-1 {
	padding-bottom: 1rem !important;
}
.pb-2 {
	padding-bottom: 2rem !important;
}
.pb-3 {
	padding-bottom: 3rem !important;
}
.pb-4 {
	padding-bottom: 4rem !important;
}
.pb-5 {
	padding-bottom: 5rem !important;
}
.px-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.py-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.py-05 {
    padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}
.py-1 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.py-2 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.py-3 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.py-4 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
.py-5 {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}
.pl-0 {
	padding-left: 0px !important;
}
.pl-1 {
	padding-left: 1rem !important;
}
.pl-2 {
	padding-left: 2rem !important;
}
.pl-3 {
	padding-left: 3rem !important;
}
.pl-4 {
	padding-left: 4rem !important;
}
.pl-5 {
	padding-left: 5rem !important;
}
.pr-0 {
	padding-right: 0px !important;
}
.pr-1 {
	padding-right: 1rem !important;
}
.pr-2 {
	padding-right: 2rem !important;
}
.pr-3 {
	padding-right: 3rem !important;
}
.pr-4 {
	padding-right: 4rem !important;
}
.pr-5 {
	padding-right: 5rem !important;
}
.px-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.px-05 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
.px-1 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.px-2 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.px-3 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.px-4 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
.px-5 {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}