// iPhone 6, 7, 8, and X
@media only screen and (max-width: 767px) {
	.breadcrumb h1 {
		margin-left: 0px !important;
		margin-top: .2rem !important;
		font-size: 1.4rem;
	}

	#socialMediaLinks {
		display: none;
	}

	.process-spacer {
		padding: 35px 0;
	}



	//Home
	#home h1,
	#home h2,
	#home h3,
	#home h4,
	#home h5,
	#home p {
		text-align: center !important;
	}

	//Process
	#mental_model {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	#process h1,
	#process h2,
	#process h3,
	#process h4,
	#process h5,
	#process p,
	#process figure,
	#process footer {
		text-align: center !important;
	}

	#process .figure {
		display: block;
		margin-bottom: 3rem;
	}

	
	//Blog
	#blog h1,
	#blog h2,
	#blog h3,
	#blog h4,
	#blog h5,
	#blog h6,
	#blog p {
		text-align: center !important;
	}
	

	//Discography
	.discog-button {
		width: 100% !important;
	}

	#discography h1,
	#discography h2,
	#discography h3,
	#discography h4,
	#discography h5,
	#discography p,
	#discography footer {
		text-align: center !important;
	}

	#discography h3 {
		margin-top: 2.5rem !important;
	}

	#discography .blockquote-footer {
		text-align: center;
	}


	//Media
	#media h1,
	#media h2,
	#media h3,
	#media h4,
	#media h5,
	#media footer {
		text-align: center !important;
	}

	//Web Portfolio
	#web h1,
	#web h2,
	#web h3,
	#web h4,
	#web h5,
	#web p,
	#web footer {
		text-align: center !important;
	}

	.portfolioSite-button {
		width: 100% !important;
	}

	//Contact
	#contact h1,
	#contact h2,
	#contact h3,
	#contact h4,
	#contact h5,
	#contact p {
		text-align: center !important;
	}

	.contact-button {
		width: 100% !important;
	}
}
