// iPhone 6, 7, 8, and X
@media only screen and (max-width: 767px) {
	.breadcrumb h1 {
		margin-left: 0px !important;
		margin-top: .2rem !important;
		font-size: 1.4rem;
	}
	
	#mental_model {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
}

