/* Index 
==============================
0.  Imports
1.  HTML, Body, etc
2.  Fonts
3.  Sidenav and Nav
4.  Scrollspy
5.  Portfolio Site Web
6.  Discography
7.  Blog
8.  Process
9.  Web
10. Contact
==============================*/




/* Imports
==============================*/
@import "formatting";
@import "animation";
@import "mobile";
@import "tablet";


/* =HTML, Body, etc
==============================*/
html,
body {
	font-family: 'Karla', sans-serif;
}

header,
main,
footer {
	padding-left: 240px;
}

hr {
	box-sizing: content-box;
	height: 0;
	margin-top: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .15);
}


/* =Fonts
==============================*/
.subheading-hm {
	font-family: Georgia, 'Times New Roman', Times, serif;
}


/* =Sidenav and Nav
==============================*/
nav a {
	color: $black !important;
}

#slide-out {
	font-wieight: 300;
	border-right: 1px solid $tertiary-light;
}

#slide-out a {
	color: $primary-dark;
	font-weight: 300;
}

#slide-out a:hover,
#slide-out a:focus {
	color: $black;
	font-weight: inherit;
}

#slide-out .collapsible-body a {
	background-color: rgba(0, 0, 0, .08);
	font-weight: 300;
	height: 56px !important;
	line-height: 56px !important;
}

.side-nav .logo-wrapper,
.side-nav .logo-wrapper a {
	height: 120px;
}

.side-nav .logo-wrapper img {
	padding: 30px 45px 20px 65px;
}

#slide-out .collapsible > li a.collapsible-header.active {
	background-color: $secondary;
	color: $white !important;
}

.side-nav .collapsible > li a.collapsible-header:hover {
	background-color: $black;
	color: $white !important;
	font-weight: 300;
}

#slide-out .collapsible li a:hover {
	background-color: $black;
	color: $white;
	font-weight: 300;
	border-radius: 0;
}

.side-nav .collapsible a {
	height: 58px !important;
	line-height: 58px !important;
}

.side-nav .collapsible-body a {
	padding-left: 48px;
}

.side-nav .logo-wrapper {
	border-bottom: 0px solid rgba(153, 153, 153, .3);
}

.double-nav .button-collapse {
	left: 0px;
}


/* =Scrollspy
==============================*/
#myScrollspy {
	margin-left: 35px;
}

#myScrollspy .nav-item {
	width: 100%;
}

#myScrollspy a {
	font-size: .8rem;
	font-weight: 500;
	line-height: 1.1rem;
	padding: 0 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	color: $primary-dark;
}

#myScrollspy li .active {
	color: $secondary;
	font-weight: 900;
}

.scrollspy-list {
	height: 500px;
}

.process-spacer-start {
	padding: 74px 0;
}

.process-spacer {
	padding: 70px 0;
}

#myScrollspy .nav-pills.default-pills .nav-item a.active {
	border-left: .125rem solid $secondary;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* =portfolioUX
==============================*/
#ux {
    background-color: $tertiary-light;
}
.ux-project {
    background-color: $white;
    padding: 80px;
    color: $black;
    border: 1px solid $tertiary-light;
    border-radius: 4px;
}

/* =portfolioWeb
==============================*/
#web {}

.portfolioSite-button {
	background-color: $black;
	color: $white;
	padding: 10px 30px;
	display: inline-block;
	width: auto;
	border-radius: 4px;
}

.portfolioSite-button:focus,
.portfolioSite-button:hover {
    background-color: $cyan;
    color: $black;
    transform: scale(1.15);
}
.portfolioSite-button .hoverable {
    transition: all 1s ease-in-out;
}


/* =portfolioMedia
==============================*/
.mdb-lightbox img {
    transition: 1s ease-in-out;
    border: 3px solid #FFFFFF;
}
.mdb-lightbox img:hover {
    border: 3px solid $cyan;
}

/* =Discography
==============================*/
#discog {}
.discog-button {
    background-color: $black;
    color: $white;
    padding: 10px 30px;
    display: inline-block;
    width: auto;
    border-radius: 4px;
}
.discog-button:focus,
.discog-button:hover {
    background-color: $cyan;
    color: $black;
    transform: scale(1.15);
}
.discog-button .hoverable {
    transition: all 1s ease-in-out;
	background-color: $cyan;
	color: $black;
}

.portfolioSite-button .hoverable {
	transition: all 0s ease-in-out;
}


/* =Blog
==============================*/
.blog a {
	color: $primary-light;
}

.blog a:hover,
.blog a:focus {
	color: $cyan;
	text-decoration: underline;
}


/* =Process
==============================*/
.lb-data .lb-details {
	width: 100%;
	text-align: right !important;
}


/* =Discography
==============================*/
#discog {}

.discog-button {
	background-color: $black;
	color: $white;
	padding: 10px 30px;
	display: inline-block;
	width: auto;
	border-radius: 4px;
}

.discog-button:focus,
.discog-button:hover {
	background-color: $cyan;
	color: $black;
}

.discog-button .hoverable {
	transition: all 0s ease-in-out;
}


/* =Web
==============================*/
#web .card.card-image {
	background-position: top !important;
}

.webproject-button-1 {
	background-color: $secondary;
	color: $white;
	padding: 10px 30px;
	display: inline-block;
	width: auto;
	border-radius: 4px;
}

.webproject-button-1:focus,
.webproject-button-1:hover {
	background-color: $cyan;
	color: $black;
}

.webproject-button-1 .hoverable {
	transition: all 0s ease-in-out;
}

.webproject-button-2 {
	background-color: $primary-dark;
	color: $white;
	padding: 10px 30px;
	display: inline-block;
	width: auto;
	border-radius: 4px;
}

.webproject-button-2:focus,
.webproject-button-2:hover {
	background-color: $cyan;
	color: $black;
}

.webproject-button-2 .hoverable {
	transition: all 0s ease-in-out;
}


/* =Contact
==============================*/
#contact {}

.contact-button {
    background-color: $black;
    color: $white !important;
    padding: 10px 30px;
    display: inline-block;
    width: auto;
    border-radius: 4px;
    transition: .25s ease-in-out;
}

.contact-button:focus,
.contact-button:hover {
    background-color: $cyan;
    color: $black;
    transform: scale(1.15);
}

.contact-button .hoverable {
    transition: all 1s ease-in-out;
}


#contact-form .form-control:focus {
	color: $cyan;
	border: 1px solid $cyan;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, .25);
	box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, .25);
}

#contact-form select:focus {
	color: $cyan;
	border: 1px solid $cyan;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, .25);
	box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, .25);
}

#contact-form .custom-select:focus {
	color: $cyan;
	border: 1px solid $cyan;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, .25);
	box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, .25);
}

#contact-form input:matches([type="button"], #contact-form [type="submit"], #contact-form [type="reset"]) {
	border: none !important;
}
