@import "formatting";
@import "animation";
@import "mobile";
@import "tablet";



/* Index 
==============================
1. Sidenav and Nav


==============================*/


/* =Sidenav and Nav
==============================*/
nav a {
    color: #000000 !important;
}
#slide-out a {
	color: #000000;
}
#slide-out a:hover, #slide-out a:focus {
	color: #FFFFFF;
}

.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height: 120px;
}
.side-nav .logo-wrapper img {
    padding: 30px 45px 20px 65px;
}
.side-nav a {
    padding-left: 30px;    
}
.side-nav .collapsible>li a.collapsible-header.active, .side-nav .collapsible>li a.collapsible-header:hover {
    background-color: $medium-pink;
    color: #FFFFFF !important;
}
.side-nav .collapsible li a:hover {
    background-color: $light-pink
}
.side-nav .collapsible-body a {
    padding-left: 55px;
}
.side-nav .logo-wrapper {
    border-bottom: 0px solid rgba(153,153,153,.3);
}

/* =Scrollspy
==============================*/
#myScrollspy {
    margin-left: 120px;
}
#myScrollspy .nav-item {
    width: 100%;
}
#myScrollspy a {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.1rem;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #5F5F5F;
}
#myScrollspy li .active {
	color: #000000;
	font-weight: 900;
}
.scrollspy-list {
    height: 500px;
}
.process-spacer-start {
	padding: 74px 0;
}
.process-spacer {
	padding: 70px 0;
}

/* =Discography
==============================*/
.discog-button {
	background-color: #b0bec5;
	padding: 10px 30px;
	display: inline-block;
	width: auto;
    border-radius: 4px;
}
.discog-button:focus, .discog-button:hover {
	background-color: none;
}

/* =Blog
==============================*/
.blog a {
    color: #424242;
}
.blog a:hover, .blog a:focus {
    color: #EC407A;
    text-decoration: underline;
}