@import "formatting";
@import "animation";
@import "mobile";
@import "tablet";



/* Index 
==============================
1. Sidenav and Nav


==============================*/


/* =Sidenav and Nav
==============================*/
#slide-out a {
	color: #000000;
}
#slide-out a:hover, #slide-out a:focus {
	color: #FFFFFF;
}

.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height: 120px;
}
.side-nav .logo-wrapper img {
    padding: 30px 45px 20px 65px;
}
.side-nav a {
    padding-left: 30px;    
}
.side-nav .collapsible>li a.collapsible-header.active, .side-nav .collapsible>li a.collapsible-header:hover {
    background-color: rgba(255,119,169,.95);
    color: #FFFFFF !important;
}
.side-nav .collapsible li a:hover {
    background-color: rgba(255,119,169,.50)
}
.side-nav .collapsible-body a {
    padding-left: 55px;
}
.side-nav .logo-wrapper {
    border-bottom: 0px solid rgba(153,153,153,.3);
}

// Scrollspy Process
#process-scrollspy {
    margin-left: 120px;
}
#process-scrollspy .nav-item {
    width: 100%;
}
#process-scrollspy a {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.1rem;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
}
#process-scrollspy li .active {
	color: #0288d1;
	font-weight: 500;
}
.scrollspy-process {
    height: 500px;
}
.process-spacer-start {
	padding: 74px 0;
}
.process-spacer {
	padding: 70px 0;
}

// Scrollspy Discography
#discog-scrollspy {
    margin-left: 80px;
}
#discog-scrollspy .nav-item {
    width: 100%;
}
#discog-scrollspy a {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.1rem;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
}
#discog-scrollspy li .active {
	color: #0288d1;
	font-weight: 500;
}
.scrollspy-discog {
    height: 500px;
}
.process-spacer-start {
	padding: 74px 0;
}
.process-spacer {
	padding: 70px 0;
}
.discog-button {
	background-color: #000000;
	padding: 30px;
	display: block;
	width: 400px;
}
.discog-button:focus, .discog-button:hover {
	background-color: #0288d1;
}