@import "formatting";
@import "animation";
@import "mobile";
@import "tablet";



/* Index 
==============================
1. HTML, Body, etc


==============================*/



/* =HTML, Body, etc
==============================*/
hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.1);
}

/* =Sidenav and Nav
==============================*/
nav a {
    color: #000000 !important;
}
#slide-out a {
	color: #FFFFFF;
}
#slide-out a:hover, #slide-out a:focus {
	color: #FFFFFF;
    font-weight: 400;
}
#slide-out .collapsible-body {
    background-color: $medium-grey;
}
.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height: 120px;
}
.side-nav .logo-wrapper img {
    padding: 30px 45px 20px 65px;
}
.side-nav a {
    padding-left: 30px;    
}
.side-nav .collapsible>li a.collapsible-header.active, .side-nav .collapsible>li a.collapsible-header:hover {
    background-color: $medium-cyan;
    color: #000000 !important;
    font-weight: 400;
}
.side-nav .collapsible li a:hover {
    background-color: $medium-cyan;
    color: #000000 !important;
    font-weight: inherit;
}
.side-nav .collapsible-body a {
    padding-left: 55px;
}
.side-nav .logo-wrapper {
    border-bottom: 0px solid rgba(153,153,153,.3);
}

/* =Scrollspy
==============================*/
#myScrollspy {
    margin-left: 120px;
}
#myScrollspy .nav-item {
    width: 100%;
}
#myScrollspy a {
    font-size: .8rem;
    font-weight: 900;
    line-height: 1.1rem;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #5F5F5F;
}
#myScrollspy li .active {
	color: $medium-cyan;
	font-weight: 500;
}
.scrollspy-list {
    height: 500px;
}
.process-spacer-start {
	padding: 74px 0;
}
.process-spacer {
	padding: 70px 0;
}
#myScrollspy .nav-pills.default-pills .nav-item a.active {
    border-left: .125rem solid $medium-cyan;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* =Discography
==============================*/
.discog-button {
	background-color: $medium-cyan;
	padding: 10px 30px;
	display: inline-block;
	width: auto;
    border-radius: 0px;
}
.discog-button:focus, .discog-button:hover {
    color: $white !important;
	background-color: $medium-pink;
}
.discog-button .hoverable {
    transition: all 0s ease-in-out;
}
/* =Blog
==============================*/
.blog a {
    color: $dark-cyan;
}
.blog a:hover, .blog a:focus {
    color: #EC407A;
    text-decoration: underline;
}

/* =Process
==============================*/
.lb-data .lb-details {
    width: 100%;
    text-align: right !important;
}