.delay-50ms {
    animation-delay: .5s;
}
.delay-55ms {
    animation-delay: .55s;
}
.delay-60ms {
    animation-delay: .6s;
}
.delay-65ms {
    animation-delay: .65s;
}
.delay-70ms {
    animation-delay: .7s;
}
.delay-75ms {
    animation-delay: .75s;
}
.delay-1-25s {
    animation-delay: 1.25s;
}
.delay-1-5s {
    animation-delay: 1.5s;
}
.delay-1-75s {
    animation-delay: 1.75s;
}
.delay-2-25s {
    animation-delay: 2.25s;
}
.delay-2-5s {
    animation-delay: 2.5s;
}
.delay-2-75s {
    animation-delay: 2.75s;
}
.delay-3-25s {
    animation-delay: 3.25s;
}
.delay-3-5s {
    animation-delay: 3.5s;
}
.delay-3-75s {
    animation-delay: 3.75s;
}